li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-form {
    padding: 5px;
    margin: 5px;
    background-image: url(//assets/img/burger.jpg");
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  body{
    background:black;

  }